<a href="https://colab.research.google.com/github/gabcarmar/utec_phyton_2023/blob/main/Proyecto_Final/Proyecto_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd #importar libreria

In [5]:
# cargamos el archivo del google drive
archivo_pc = pd.read_excel('/content/drive/MyDrive/Curso Phyton/2301-M71 - 2108-Matemáticas discretas I -1074-Práctica calificada 3-Calificaciones_1.xlsx')

In [6]:
# head para ver los datos del excel
archivo_pc.head()

,Apellido,Nombre,Dirección de correo electrónico,Estado,Iniciado el,Finalizado,Tiempo tomado,Calificación/20.00,Q. 1 /2.00,Q. 2 /2.00,Q. 3 /2.00,Q. 4 /2.00,Q. 5 /2.00,Q. 6 /3.00,Q. 7 /3.00,Q. 8 /4.00
0,ACOSTA TUESTA,Erick Rafael,erick.acosta.alu@upal.edu.pe,Finalizado,2 mayo 2023 8:36 PM,2 mayo 2023 9:54 PM,1 hora 17 minutos,13.5,2.0,2.0,0.0,2.0,0.0,3.00,1.50,3.00
1,AÑAPE WONG,KIRK HERSHEL,kirk.anape.alu@upal.edu.pe,Finalizado,2 mayo 2023 8:36 PM,2 mayo 2023 9:57 PM,1 hora 20 minutos,6.0,2.0,2.0,0.0,2.0,0.0,-,-,-
2,ATACHAGUA PORRAS,DILAN SCOTT,dilan.atachagua.alu@upal.edu.pe,Finalizado,2 mayo 2023 8:21 PM,2 mayo 2023 8:33 PM,11 minutos 47 segundos,4.0,0.0,0.0,0.0,2.0,2.0,0.00,0.00,0.00
3,CALCINA,TAYLOR,taylor.calcina.alu@upal.edu.pe,Finalizado,2 mayo 2023 8:40 PM,2 mayo 2023 9:54 PM,1 hora 14 minutos,19.5,2.0,2.0,2.0,2.0,2.0,2.50,3.00,4.00
4,CASAS LOPEZ,DIANA LISSET,diana.casas.alu@upal.edu.pe,Finalizado,2 mayo 2023 8:39 PM,2 mayo 2023 10:07 PM,1 hora 27 minutos,13.0,0.0,2.0,2.0,0.0,2.0,2.00,3.00,2.00

In [8]:
# info es para ver los datos de los columnas que tipo de dato son

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 16 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Apellido                         24 non-null     object
 1   Nombre                           23 non-null     object
 2   Dirección de correo electrónico  23 non-null     object
 3   Estado                           23 non-null     object
 4   Iniciado el                      23 non-null     object
 5   Finalizado                       23 non-null     object
 6   Tiempo tomado                    23 non-null     object
 7   Calificación/20.00               24 non-null     float64
 8   Q. 1 /2.00                       24 non-null     float64
 9   Q. 2 /2.00                       24 non-null     float64
 10  Q. 3 /2.00                       24 non-null     float64
 11  Q. 4 /2.00                       24 non-null     float64
 12  Q. 5 /2.00                       24 non-null     float64
 13  Q. 6 /3.00                       24 non-null     object
 14  Q. 7 /3.00                       24 non-null     object
 15  Q. 8 /4.00                       24 non-null     object
dtypes: float64(6), object(10)
memory usage: 3.1+ KB

In [9]:
archivo_CV4= pd.read_excel('/content/drive/MyDrive/Curso Phyton/2301-M71 - 2108-Matemáticas discretas I -1074-Control Virtual 4-Calificaciones.xlsx')

In [10]:
archivo_CV4.head()

,Apellido,Nombre,Dirección de correo electrónico,Estado,Iniciado el,Finalizado,Tiempo tomado,Calificación/20.00,Q. 1 /6.00,Q. 2 /8.00,Q. 3 /6.00
0,ACOSTA TUESTA,Erick Rafael,erick.acosta.alu@upal.edu.pe,Finalizado,23 abril 2023 6:26 PM,23 abril 2023 6:30 PM,3 minutos 35 segundos,20.0,6.0,8.0,6.0
1,AÑAPE WONG,KIRK HERSHEL,kirk.anape.alu@upal.edu.pe,Finalizado,23 abril 2023 7:38 PM,23 abril 2023 7:45 PM,7 minutos 17 segundos,9.0,3.0,0.0,6.0
2,CALCINA,TAYLOR,taylor.calcina.alu@upal.edu.pe,Finalizado,22 abril 2023 9:34 PM,22 abril 2023 9:42 PM,7 minutos 58 segundos,20.0,6.0,8.0,6.0
3,CASAS LOPEZ,DIANA LISSET,diana.casas.alu@upal.edu.pe,Finalizado,22 abril 2023 4:35 PM,22 abril 2023 4:54 PM,18 minutos 30 segundos,20.0,6.0,8.0,6.0
4,CHAVARRY LOPEZ,TANIA VANESA,tania.chavarry.alu@upal.edu.pe,Finalizado,23 abril 2023 4:34 PM,23 abril 2023 4:57 PM,22 minutos 51 segundos,20.0,6.0,8.0,6.0

In [11]:
archivo_CV4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Apellido                         21 non-null     object
 1   Nombre                           20 non-null     object
 2   Dirección de correo electrónico  20 non-null     object
 3   Estado                           20 non-null     object
 4   Iniciado el                      20 non-null     object
 5   Finalizado                       20 non-null     object
 6   Tiempo tomado                    20 non-null     object
 7   Calificación/20.00               21 non-null     float64
 8   Q. 1 /6.00                       21 non-null     float64
 9   Q. 2 /8.00                       21 non-null     float64
 10  Q. 3 /6.00                       21 non-null     float64
dtypes: float64(4), object(7)
memory usage: 1.9+ KB

In [12]:
archivo_CV4.shape

(21, 11)

In [13]:
archivo_pc.shape

(24, 16)

In [14]:
consolidado = pd.merge(archivo_pc,archivo_CV4,on='Dirección de correo electrónico')

In [17]:
consolidado.shape

(20, 26)

In [18]:
archivo_CV4.tail(1)

,Apellido,Nombre,Dirección de correo electrónico,Estado,Iniciado el,Finalizado,Tiempo tomado,Calificación/20.00,Q. 1 /6.00,Q. 2 /8.00,Q. 3 /6.00
20,Promedio general,NaN,NaN,NaN,NaN,NaN,NaN,15.2,4.8,5.6,4.8

In [19]:
consolidado = pd.merge(archivo_pc,archivo_CV4,on='Dirección de correo electrónico',how = "outer")

In [20]:
consolidado.shape

(25, 26)

In [22]:
consolidado.tail(3)

,Apellido_x,Nombre_x,Dirección de correo electrónico,Estado_x,Iniciado el_x,Finalizado_x,Tiempo tomado_x,Calificación/20.00_x,Q. 1 /2.00,Q. 2 /2.00,...,Apellido_y,Nombre_y,Estado_y,Iniciado el_y,Finalizado_y,Tiempo tomado_y,Calificación/20.00_y,Q. 1 /6.00,Q. 2 /8.00,Q. 3 /6.00
22,VILLENA YNCA,ELIZABETH VERONICA,elizabeth.villena.alu@upal.edu.pe,Finalizado,2 mayo 2023 8:39 PM,2 mayo 2023 10:05 PM,1 hora 26 minutos,6.50,2.00,0.00,...,VILLENA YNCA,ELIZABETH VERONICA,Finalizado,23 abril 2023 10:30 PM,23 abril 2023 10:51 PM,20 minutos 51 segundos,14.0,6.0,8.0,0.0
23,Promedio general,NaN,NaN,NaN,NaN,NaN,NaN,10.85,1.39,1.48,...,Promedio general,NaN,NaN,NaN,NaN,NaN,15.2,4.8,5.6,4.8
24,NaN,NaN,luis.magallanes.alu@upal.edu.pe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,MAGALLANES PACHERRE,LUIS ANGEL,Finalizado,23 abril 2023 10:40 PM,23 abril 2023 10:44 PM,3 minutos 52 segundos,12.0,6.0,0.0,6.0

In [30]:
consolidado.columns

Index(['Apellido_x', 'Nombre_x', 'Dirección de correo electrónico', 'Estado_x',
       'Iniciado el_x', 'Finalizado_x', 'Tiempo tomado_x',
       'Calificación/20.00_x', 'Q. 1 /2.00', 'Q. 2 /2.00', 'Q. 3 /2.00',
       'Q. 4 /2.00', 'Q. 5 /2.00', 'Q. 6 /3.00', 'Q. 7 /3.00', 'Q. 8 /4.00',
       'Apellido_y', 'Nombre_y', 'Estado_y', 'Iniciado el_y', 'Finalizado_y',
       'Tiempo tomado_y', 'Calificación/20.00_y', 'Q. 1 /6.00', 'Q. 2 /8.00',
       'Q. 3 /6.00'],
      dtype='object')

In [26]:
'luis.magallanes.alu@upal.edu.pe' in  list(archivo_pc['Dirección de correo electrónico'])

False

In [27]:
archivo_CV4[['Dirección de correo electrónico'] ]== 'luis.magallanes.alu@upal.edu.pe'

    Dirección de correo electrónico
0                             False
1                             False
2                             False
3                             False
4                             False
5                             False
6                             False
7                             False
8                             False
9                             False
10                            False
11                            False
12                            False
13                            False
14                             True
15                            False
16                            False
17                            False
18                            False
19                            False
20                            False

In [29]:
archivo_pc.loc[archivo_pc['Dirección de correo electrónico'] == 'luis.magallanes.alu@upal.edu.pe']

Empty DataFrame
Columns: [Apellido, Nombre, Dirección de correo electrónico, Estado, Iniciado el, Finalizado, Tiempo tomado, Calificación/20.00, Q. 1 /2.00, Q. 2 /2.00, Q. 3 /2.00, Q. 4 /2.00, Q. 5 /2.00, Q. 6 /3.00, Q. 7 /3.00, Q. 8 /4.00]
Index: []

In [34]:
consolidado = pd.merge(archivo_pc,archivo_CV4,on= ['Apellido','Nombre','Dirección de correo electrónico'],how = "outer")

In [35]:
consolidado.shape

(25, 24)

In [36]:
consolidado

,Apellido,Nombre,Dirección de correo electrónico,Estado_x,Iniciado el_x,Finalizado_x,Tiempo tomado_x,Calificación/20.00_x,Q. 1 /2.00,Q. 2 /2.00,...,Q. 7 /3.00,Q. 8 /4.00,Estado_y,Iniciado el_y,Finalizado_y,Tiempo tomado_y,Calificación/20.00_y,Q. 1 /6.00,Q. 2 /8.00,Q. 3 /6.00
0,ACOSTA TUESTA,Erick Rafael,erick.acosta.alu@upal.edu.pe,Finalizado,2 mayo 2023 8:36 PM,2 mayo 2023 9:54 PM,1 hora 17 minutos,13.50,2.00,2.00,...,1.50,3.00,Finalizado,23 abril 2023 6:26 PM,23 abril 2023 6:30 PM,3 minutos 35 segundos,20.0,6.0,8.0,6.0
1,AÑAPE WONG,KIRK HERSHEL,kirk.anape.alu@upal.edu.pe,Finalizado,2 mayo 2023 8:36 PM,2 mayo 2023 9:57 PM,1 hora 20 minutos,6.00,2.00,2.00,...,-,-,Finalizado,23 abril 2023 7:38 PM,23 abril 2023 7:45 PM,7 minutos 17 segundos,9.0,3.0,0.0,6.0
2,ATACHAGUA PORRAS,DILAN SCOTT,dilan.atachagua.alu@upal.edu.pe,Finalizado,2 mayo 2023 8:21 PM,2 mayo 2023 8:33 PM,11 minutos 47 segundos,4.00,0.00,0.00,...,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CALCINA,TAYLOR,taylor.calcina.alu@upal.edu.pe,Finalizado,2 mayo 2023 8:40 PM,2 mayo 2023 9:54 PM,1 hora 14 minutos,19.50,2.00,2.00,...,3.00,4.00,Finalizado,22 abril 2023 9:34 PM,22 abril 2023 9:42 PM,7 minutos 58 segundos,20.0,6.0,8.0,6.0
4,CASAS LOPEZ,DIANA LISSET,diana.casas.alu@upal.edu.pe,Finalizado,2 mayo 2023 8:39 PM,2 mayo 2023 10:07 PM,1 hora 27 minutos,13.00,0.00,2.00,...,3.00,2.00,Finalizado,22 abril 2023 4:35 PM,22 abril 2023 4:54 PM,18 minutos 30 segundos,20.0,6.0,8.0,6.0
5,CHAVARRY LOPEZ,TANIA VANESA,tania.chavarry.alu@upal.edu.pe,Finalizado,2 mayo 2023 8:40 PM,2 mayo 2023 10:09 PM,1 hora 29 minutos,5.50,0.00,2.00,...,0.00,-,Finalizado,23 abril 2023 4:34 PM,23 abril 2023 4:57 PM,22 minutos 51 segundos,20.0,6.0,8.0,6.0
6,Chinchay Tejada,Omar Ysmael,omar.chinchay.alu@upal.edu.pe,Finalizado,2 mayo 2023 9:03 PM,2 mayo 2023 9:15 PM,12 minutos 17 segundos,0.00,0.00,0.00,...,-,-,Finalizado,23 abril 2023 10:03 PM,23 abril 2023 10:11 PM,7 minutos 29 segundos,9.0,3.0,0.0,6.0
7,COCHACHES CARRANZA,NESTOR XAVIER,nestor.cochaches.alu@upal.edu.pe,Finalizado,2 mayo 2023 8:38 PM,2 mayo 2023 10:07 PM,1 hora 28 minutos,15.00,0.00,2.00,...,2.00,2.00,Finalizado,23 abril 2023 7:51 PM,23 abril 2023 8:11 PM,20 minutos 25 segundos,20.0,6.0,8.0,6.0
8,Correa Sanchez,Luis Alvaro,luis.correa.alu@upal.edu.pe,Finalizado,2 mayo 2023 9:14 PM,2 mayo 2023 9:30 PM,16 minutos 28 segundos,4.00,0.00,0.00,...,-,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,ESCOBAR VILLANUEVA,Wilder alfredo,wilder.escobar.alu@upal.edu.pe,Finalizado,2 mayo 2023 9:20 PM,2 mayo 2023 10:17 PM,57 minutos 12 segundos,8.00,2.00,2.00,...,-,-,Finalizado,23 abril 2023 10:12 PM,23 abril 2023 10:19 PM,6 minutos 44 segundos,14.0,0.0,8.0,6.0
10,ESPINOLA CUEVA,ROGER ANTENOR,roger.espinola.alu@upal.edu.pe,Finalizado,2 mayo 2023 8:39 PM,2 mayo 2023 9:56 PM,1 hora 16 minutos,14.00,2.00,2.00,...,1.00,2.00,Finalizado,23 abril 2023 9:57 PM,23 abril 2023 10:13 PM,15 minutos 38 segundos,6.0,6.0,0.0,0.0
11,FERNANDEZ MURAKAMI,JHORDAN STEVEN,jhordan.fernandez.alu@upal.edu.pe,Finalizado,2 mayo 2023 8:37 PM,2 mayo 2023 9:42 PM,1 hora 5 minutos,13.50,2.00,0.00,...,1.50,3.00,Finalizado,21 abril 2023 6:08 PM,21 abril 2023 6:10 PM,1 minutos 6 segundos,6.0,6.0,0.0,0.0
12,HOLDER JIMENEZ,DIEGO ALBERTO,diego.holder.alu@upal.edu.pe,Finalizado,2 mayo 2023 8:37 PM,2 mayo 2023 9:36 PM,59 minutos 49 segundos,15.00,2.00,2.00,...,0.50,2.00,Finalizado,23 abril 2023 1:39 PM,23 abril 2023 1:41 PM,1 minutos 30 segundos,14.0,0.0,8.0,6.0
13,Horna Medina,Esdras Ismael,esdras.horna.alu@upal.edu.pe,Finalizado,2 mayo 2023 8:39 PM,2 mayo 2023 9:43 PM,1 hora 4 minutos,10.00,2.00,2.00,...,0.00,1.00,Finalizado,23 abril 2023 5:32 PM,23 abril 2023 5:35 PM,3 minutos 18 segundos,20.0,6.0,8.0,6.0
14,HUANCA ARONI,ANA LUZ,ana.huanca.alu@upal.edu.pe,Finalizado,2 mayo 2023 8:38 PM,2 mayo 2023 10:01 PM,1 hora 22 minutos,13.50,2.00,2.00,...,1.50,4.00,Finalizado,23 abril 2023 9:13 PM,23 abril 2023 9:22 PM,9 minutos 13 segundos,14.0,6.0,8.0,0.0
15,INQUEL PECHON,JOSBECK YURI,josbeck.inquel.alu@upal.edu.pe,Finalizado,2 mayo 2023 8:36 PM,2 mayo 2023 9:51 PM,1 hora 14 minutos,18.00,2.00,2.00,...,2.00,4.00,Finalizado,23 abril 2023 7:40 PM,23 abril 2023 7:47 PM,7 minutos 30 segundos,20.0,6.0,8.0,6.0
16,MAMANI ANDIA,LIZ ROCIO,liz.mamani.alu@upal.edu.pe,Finalizado,2 mayo 2023 8:39 PM,2 mayo 2023 9:57 PM,1 hora 18 minutos,15.50,2.00,2.00,...,3.00,3.00,Finalizado,22 abril 2023 5:25 PM,22 abril 2023 5:33 PM,7 minutos 43 segundos,20.0,6.0,8.0,6.0
17,MORAN AYALA,LADY JACKELINE,lady.moran.alu@upal.edu.pe,Finalizado,2 mayo 2023 8:39 PM,2 mayo 2023 10:02 PM,1 hora 22 minutos,14.00,0.00,2.00,...,3.00,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,OLIVERA REATEGUI,LUIGI RICARDO,luigi.olivera.alu@upal.edu.pe,Finalizado,2 mayo 2023 8:41 PM,2 mayo 2023 9:57 PM,1 hora 16 minutos,15.00,2.00,2.00,...,1.00,4.00,Finalizado,23 abril 2023 11:16 PM,23 abril 2023 11:30 PM,13 minutos 26 segundos,20.0,6.0,8.0,6.0
19,SÁNCHEZ CORDOVA,JOSÉ DAVID,jose.sanchez.alu@upal.edu.pe,Finalizado,2 mayo 2023 8:37 PM,2 mayo 2023 9:53 PM,1 hora 15 minutos,12.00,2.00,2.00,...,1.00,-,Finalizado,22 abril 2023 11:04 PM,22 abril 2023 11:09 PM,4 minutos 41 segundos,17.0,3.0,8.0,6.0
20,TABOADA SINCHE,PHILL ARNOLD,phill.taboada.alu@upal.edu.pe,Finalizado,2 mayo 2023 9:16 PM,2 mayo 2023 10:09 PM,52 minutos 32 segundos,7.50,2.00,0.00,...,1.00,1.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,TOLENTINO HUAMANI,PERCY,percy.tolentino.alu@upal.edu.pe,Finalizado,2 mayo 2023 8:35 PM,2 mayo 2023 9:53 PM,1 hora 17 minutos,6.50,2.00,2.00,...,0.50,-,Finalizado,23 abril 2023 1:54 PM,23 abril 2023 2:03 PM,9 minutos 1 segundos,9.0,3.0,0.0,6.0
22,VILLENA YNCA,ELIZABETH VERONICA,elizabeth.villena.alu@upal.edu.pe,Finalizado,2 mayo 2023 8:39 PM,2 mayo 2023 10:05 PM,1 hora 26 minutos,6.50,2.00,0.00,...,0.50,1.00,Finalizado,23 abril 2023 10:30 PM,23 abril 2023 10:51 PM,20 minutos 51 segundos,14.0,6.0,8.0,0.0
23,Promedio general,NaN,NaN,NaN,NaN,NaN,NaN,10.85,1.39,1.48,...,1.13,1.59,NaN,NaN,NaN,NaN,15.2,4.8,5.6,4.8
24,MAGALLANES PACHERRE,LUIS ANGEL,luis.magallanes.alu@upal.edu.pe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Finalizado,23 abril 2023 10:40 PM,23 abril 2023 10:44 PM,3 minutos 52 segundos,12.0,6.0,0.0,6.0

In [38]:
consolidado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 0 to 24
Data columns (total 24 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Apellido                         25 non-null     object
 1   Nombre                           24 non-null     object
 2   Dirección de correo electrónico  24 non-null     object
 3   Estado_x                         23 non-null     object
 4   Iniciado el_x                    23 non-null     object
 5   Finalizado_x                     23 non-null     object
 6   Tiempo tomado_x                  23 non-null     object
 7   Calificación/20.00_x             24 non-null     float64
 8   Q. 1 /2.00                       24 non-null     float64
 9   Q. 2 /2.00                       24 non-null     float64
 10  Q. 3 /2.00                       24 non-null     float64
 11  Q. 4 /2.00                       24 non-null     float64
 12  Q. 5 /2.00                       24 non-null     float64
 13  Q. 6 /3.00                       24 non-null     object
 14  Q. 7 /3.00                       24 non-null     object
 15  Q. 8 /4.00                       24 non-null     object
 16  Estado_y                         20 non-null     object
 17  Iniciado el_y                    20 non-null     object
 18  Finalizado_y                     20 non-null     object
 19  Tiempo tomado_y                  20 non-null     object
 20  Calificación/20.00_y             21 non-null     float64
 21  Q. 1 /6.00                       21 non-null     float64
 22  Q. 2 /8.00                       21 non-null     float64
 23  Q. 3 /6.00                       21 non-null     float64
dtypes: float64(10), object(14)
memory usage: 4.9+ KB